#Preencha com os dados de acesso da OLT
ip    = 0.0.0.0
login = SEU_USUARIO
senha = SUA_SENHA

#Preencha com os dados do seu servidor acs para replicar nas ONU's ONT's
url          = http://meuservidor.com.br:7547
username_acs = admin
passwd_acs   = admin
inform       = 300
port         = 7547
username_conn = admin
passwd_conn   = admin
